force-app/main/default/flows/Campaign_Auto_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <interviewLabel>Campaign Auto Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Campaign Auto Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Class_Attended</name>
        <label>Get Class Attended</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Class_Info_and_Attendee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a3xJ0000000gd51IAA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attended</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BT_Registration__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Class_Name</name>
        <label>Get Class Name</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Class_Attended</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a3xJ0000000gd51IAA</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BT_Class__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Class_Info_and_Attendee</name>
        <label>Class Info and Attendee</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>BT_CLass_Name</name>
            <fieldText>&lt;p&gt;Active Class Information:&lt;/p&gt;&lt;p&gt;Id:&lt;/p&gt;&lt;p&gt;{!var_Active_BT_Class}&lt;/p&gt;&lt;p&gt;Name:&lt;/p&gt;&lt;p&gt;{!Get_Class_Name.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Attendees: (ids where Status is Attended)&lt;/p&gt;&lt;p&gt;ids:&lt;/p&gt;&lt;p&gt;{!Get_Class_Attended}&lt;/p&gt;&lt;p&gt;{!var_Active_Attendee_of_BT_Class}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Class_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_Active_Attendee_of_BT_Class</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Active_BT_Class</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Class_Name.Id</elementReference>
        </value>
    </variables>
</Flow>
