force-app/main/default/flows/Off_MLS_Listings_Finder_beta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Text</name>
        <label>Assign_Text</label>
        <locationX>494</locationX>
        <locationY>500</locationY>
        <assignmentItems>
            <assignToReference>varDisplayCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OffMLSListingsCasesTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>List_of_Matching_Child_Cases_Ids</name>
        <label>List of Matching Child Cases Ids</label>
        <locationX>855</locationX>
        <locationY>255</locationY>
        <assignmentItems>
            <assignToReference>MultipleChildRecordId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MatchingCaseNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_Successfully</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>splitdata</name>
        <label>splitdata</label>
        <locationX>1208</locationX>
        <locationY>454</locationY>
        <assignmentItems>
            <assignToReference>ListAllChildCaseValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>testsplitstring</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <dynamicChoiceSets>
        <name>MatchingCaseNumber</name>
        <dataType>String</dataType>
        <displayField>CaseNumber</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BrokerageName__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Brokerage_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>ListingAgentName__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Listing_Agent_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Off MLS Listings</stringValue>
            </value>
        </filters>
        <filters>
            <field>PropertyAddress__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Property_Address</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>012J0000000e9KPIAY</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>ChildRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>testsplitstring</name>
        <dataType>String</dataType>
        <expression>LEFT({!Matching_Child_Cases_Number},FIND(&quot;;&quot;,{!Matching_Child_Cases_Number})-1) 
/*+&quot;-&quot;+ RIGHT(Matching_Child_Cases_Number,(LEN(Matching_Child_Cases_Number)-FIND(&quot;&quot;,Matching_Child_Cases_Number)))*/</expression>
    </formulas>
    <interviewLabel>Off MLS Listings Finder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Off MLS Listings Finder beta</label>
    <loops>
        <name>For_Each_case</name>
        <label>For Each case</label>
        <locationX>379</locationX>
        <locationY>320</locationY>
        <assignNextValueToReference>varCase</assignNextValueToReference>
        <collectionReference>Find_Off_MLS_Listings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Text</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Off_MLS_Listings_Finder</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>testLoop1</name>
        <label>testLoop1</label>
        <locationX>1018</locationX>
        <locationY>424</locationY>
        <assignNextValueToReference>testLoop2</assignNextValueToReference>
        <collectionReference>MultipleChildRecordId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Find_Off_MLS_Listings</name>
        <label>Find Off MLS Listings</label>
        <locationX>380</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BrokerageName__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Brokerage_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>ListingAgentName__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Listing_Agent_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Off MLS Listings</stringValue>
            </value>
        </filters>
        <filters>
            <field>PropertyAddress__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Property_Address</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>012J0000000e9KPIAY</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>PropertyAddress__c</queriedFields>
        <queriedFields>ListingAgentName__c</queriedFields>
        <queriedFields>BrokerageName__c</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDefaultRecords</name>
        <label>GetDefaultRecords</label>
        <locationX>112</locationX>
        <locationY>174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Off_MLS_Listings_Search</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>VarDefaultBrokerageName</assignToReference>
            <field>BrokerageName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MasterCaseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarDefaultListingAgentName</assignToReference>
            <field>ListingAgentName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarDefaultyPropertAddresss</assignToReference>
            <field>PropertyAddress__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Child_Cases_CaseId</name>
        <label>Update Child Cases CaseId</label>
        <locationX>1138</locationX>
        <locationY>47</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>testLoop2</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>MasterCaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Matching_Child_Case_Number</name>
        <label>Matching Child Case Number</label>
        <locationX>854</locationX>
        <locationY>64</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>List_of_Matching_Child_Cases_Ids</targetReference>
        </connector>
        <fields>
            <name>Matching_Child_Cases_Number</name>
            <choiceReferences>MatchingCaseNumber</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Matching Child Cases Number</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Off_MLS_Listings_Finder</name>
        <label>Off MLS Listings Finder</label>
        <locationX>675</locationX>
        <locationY>64</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Matching_Child_Case_Number</targetReference>
        </connector>
        <fields>
            <name>display</name>
            <fieldText>&lt;p&gt;Matching Case(s) Found for &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; {!recordId}&lt;/span&gt;:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;{!varDisplayCases}&lt;/li&gt;&lt;/ol&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Off_MLS_Listings_Search</name>
        <label>Off MLS Listings Search</label>
        <locationX>213</locationX>
        <locationY>48</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Find_Off_MLS_Listings</targetReference>
        </connector>
        <fields>
            <name>Product</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Off MLS Listings</stringValue>
            </defaultValue>
            <fieldText>Product</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Property_Address</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VarDefaultyPropertAddresss</elementReference>
            </defaultValue>
            <fieldText>Property Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Listing_Agent_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VarDefaultListingAgentName</elementReference>
            </defaultValue>
            <fieldText>Listing Agent Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Brokerage_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VarDefaultBrokerageName</elementReference>
            </defaultValue>
            <fieldText>Brokerage Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Updated_Successfully</name>
        <label>Updated Successfully</label>
        <locationX>1017</locationX>
        <locationY>208</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Update_done_successfully</name>
            <fieldText>&lt;p&gt;Congratulation the Parent Case has been assigned successfully! {!MultipleChildRecordId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetDefaultRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>OffMLSListingsCasesTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Case Id&lt;/b&gt;: &lt;a href=&quot;https://mris--dev.lightning.force.com/%7B!varCase.Id%7D&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!varCase.Id}&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; &lt;/span&gt;        &lt;/p&gt;&lt;p&gt;&lt;b&gt;Case Number&lt;/b&gt;: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(244, 4, 4);&quot;&gt;{!varCase.CaseNumber}&lt;/span&gt;&lt;span style=&quot;color: rgb(244, 4, 4);&quot;&gt;  &lt;/span&gt;              &lt;/p&gt;&lt;p&gt;&lt;b&gt;Property Address&lt;/b&gt;: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!varCase.PropertyAddress__c}&lt;/span&gt;                        &lt;/p&gt;&lt;p&gt;&lt;b&gt;Agent Name&lt;/b&gt;: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!varCase.ListingAgentName__c}&lt;/span&gt;                               &lt;/p&gt;&lt;p&gt;&lt;b&gt;Brokerage Name&lt;/b&gt;: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!varCase.BrokerageName__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Record Type&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;: {!varCase.RecordTypeId}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;-------------------------------------------------------------------------&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ChildRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListAllChildCaseValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MasterCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MultipleChildRecordId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>testLoop2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>VarDefaultBrokerageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>varCase.BrokerageName__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>VarDefaultListingAgentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>varCase.ListingAgentName__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>VarDefaultyPropertAddresss</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>varCase.PropertyAddress__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varDisplayCases</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
