force-app/main/default/flows/Off_MLS_Listings_Tracker.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_Usable_Collection</name>
        <label>Add to Usable Collection</label>
        <locationX>1209</locationX>
        <locationY>325</locationY>
        <assignmentItems>
            <assignToReference>VParsedChildCasesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OneChildCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_from_Original_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Text</name>
        <label>Assign_Text</label>
        <locationX>495</locationX>
        <locationY>499</locationY>
        <assignmentItems>
            <assignToReference>varDisplayCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OffMLSListingsCasesTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ConvertIntoUCASE</name>
        <label>ConvertIntoUCASE</label>
        <locationX>192</locationX>
        <locationY>338</locationY>
        <assignmentItems>
            <assignToReference>VarDefaultBrokerageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varUCASEDefaultBrokerageName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDefaultListingAgentName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varUCASEDefaultListingAgentName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarDefaultyPropertAddresss</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varUCASEDefaultPropertyAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Off_MLS_Listings_Search</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GetTheNumberOfChildCaseSelected</name>
        <label>GetTheNumberOfChildCaseSelected</label>
        <locationX>1287</locationX>
        <locationY>762</locationY>
        <assignmentItems>
            <assignToReference>GetChildCasesIdNumber</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>vCollectionChildIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AnyChildCasesSelected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>List_of_Matching_Child_Cases_Ids</name>
        <label>List of Matching Child Cases Ids</label>
        <locationX>969</locationX>
        <locationY>66</locationY>
        <assignmentItems>
            <assignToReference>MultipleChildRecordId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Select_one_or_more_checkbox_es_below</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Square_Brackets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_from_Original_Collection</name>
        <label>Remove from Original Collection</label>
        <locationX>1209</locationX>
        <locationY>478</locationY>
        <assignmentItems>
            <assignToReference>varNoBrcakets_2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemoveFirstChildCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Child_Cases_Parsed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Square_Brackets</name>
        <label>Remove Square Brackets</label>
        <locationX>943</locationX>
        <locationY>265</locationY>
        <assignmentItems>
            <assignToReference>varNoBrcakets_2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemoveBrackets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Child_Cases_Parsed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>All_Child_Cases_Parsed</name>
        <label>All Child Cases Parsed?</label>
        <locationX>914</locationX>
        <locationY>420</locationY>
        <defaultConnector>
            <targetReference>Add_to_Usable_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNoBrcakets_2</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Loop_through_Child_Case_id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>AnyChildCasesSelected</name>
        <label>Any Child Cases Selected</label>
        <locationX>1409</locationX>
        <locationY>700</locationY>
        <defaultConnector>
            <targetReference>Fail_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetChildCasesIdNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Child_Cases_CaseId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_we_find_some_Listings</name>
        <label>Check if we find some Listings</label>
        <locationX>585</locationX>
        <locationY>162</locationY>
        <defaultConnector>
            <targetReference>Off_MLS_Listings_Finder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes Match</defaultConnectorLabel>
        <rules>
            <name>No_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Off_MLS_Listings</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>No Match</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>MatchingCaseNumber</name>
        <dataType>String</dataType>
        <displayField>CaseNumber</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Off MLS Listings</stringValue>
            </value>
        </filters>
        <filters>
            <field>PropertyAddress__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Property_Address</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>012J0000000e9KPIAY</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>ChildRecordId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>OneChildCase</name>
        <dataType>String</dataType>
        <expression>TRIM( LEFT({!varNoBrcakets_2} , FIND(&quot;;&quot;,{!varNoBrcakets_2}) - 1) )</expression>
    </formulas>
    <formulas>
        <name>RemoveBrackets</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE(SUBSTITUTE({!MultipleChildRecordId},&quot;[&quot;,&quot;&quot;),&quot;]&quot;,&quot;&quot;)) + &quot;;&quot;</expression>
    </formulas>
    <formulas>
        <name>RemoveFirstChildCase</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!varNoBrcakets_2},{!OneChildCase}+&quot;;&quot;,&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>testsplitstring</name>
        <dataType>String</dataType>
        <expression>LEFT({!Select_one_or_more_checkbox_es_below},FIND(&quot;;&quot;,{!Select_one_or_more_checkbox_es_below})-1) 
/*+&quot;-&quot;+ RIGHT(Matching_Child_Cases_Number,(LEN(Matching_Child_Cases_Number)-FIND(&quot;&quot;,Matching_Child_Cases_Number)))*/</expression>
    </formulas>
    <formulas>
        <name>varUCASEDefaultBrokerageName</name>
        <dataType>String</dataType>
        <expression>UPPER({!VarDefaultBrokerageName})</expression>
    </formulas>
    <formulas>
        <name>varUCASEDefaultListingAgentName</name>
        <dataType>String</dataType>
        <expression>UPPER({!VarDefaultListingAgentName})</expression>
    </formulas>
    <formulas>
        <name>varUCASEDefaultPropertyAddress</name>
        <dataType>String</dataType>
        <expression>UPPER({!VarDefaultyPropertAddresss})</expression>
    </formulas>
    <interviewLabel>Off MLS Listings Tracker {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Off MLS Listings Tracker</label>
    <loops>
        <name>For_Each_case</name>
        <label>For Each case</label>
        <locationX>382</locationX>
        <locationY>317</locationY>
        <assignNextValueToReference>varCase</assignNextValueToReference>
        <collectionReference>Find_Off_MLS_Listings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Text</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_we_find_some_Listings</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Child_Case_id</name>
        <label>Loop through Child Case id</label>
        <locationX>802</locationX>
        <locationY>633</locationY>
        <assignNextValueToReference>vChildCaseId</assignNextValueToReference>
        <collectionReference>VParsedChildCasesCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LookupChildCase</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>User_Message</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Find_Off_MLS_Listings</name>
        <label>Find Off MLS Listings</label>
        <locationX>384</locationX>
        <locationY>32</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_case</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND 5</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Off MLS Listings</stringValue>
            </value>
        </filters>
        <filters>
            <field>PropertyAddress__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUCASEDefaultPropertyAddress</elementReference>
            </value>
        </filters>
        <filters>
            <field>PropertyAddress__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarDefaultyPropertAddresss</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>012J0000000e9KPIAY</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>PropertyAddress__c</queriedFields>
        <queriedFields>ListingAgentName__c</queriedFields>
        <queriedFields>BrokerageName__c</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDefaultRecords</name>
        <label>GetDefaultRecords</label>
        <locationX>115</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ConvertIntoUCASE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>VarDefaultBrokerageName</assignToReference>
            <field>BrokerageName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>MasterCaseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarDefaultListingAgentName</assignToReference>
            <field>ListingAgentName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarDefaultyPropertAddresss</assignToReference>
            <field>PropertyAddress__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupChildCase</name>
        <label>LookupChildCase</label>
        <locationX>1092</locationX>
        <locationY>672</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTheNumberOfChildCaseSelected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vChildCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>vCollectionChildIds</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Child_Cases_CaseId</name>
        <label>Update Child Cases CaseId</label>
        <locationX>1380</locationX>
        <locationY>936</locationY>
        <connector>
            <targetReference>All_Child_Cases_Parsed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vChildCaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>MasterCaseId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>803</locationX>
        <locationY>224</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 4, 4);&quot;&gt;Sorry, Nothing Relevant has been Found&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fail_Message</name>
        <label>Fail Message</label>
        <locationX>1550</locationX>
        <locationY>564</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Failing_Text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Nothing has been selected (&lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!GetChildCasesIdNumber}&lt;/b&gt;&lt;b&gt;), Click Previous to update your selection or Click Finish to End the Application. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Off_MLS_Listings_Finder</name>
        <label>Off MLS Listings Finder</label>
        <locationX>798</locationX>
        <locationY>65</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>List_of_Matching_Child_Cases_Ids</targetReference>
        </connector>
        <fields>
            <name>display</name>
            <fieldText>&lt;p&gt;&lt;b&gt;﻿Matching Case(s) Found:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;{!varDisplayCases}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_one_or_more_checkbox_es_below</name>
            <choiceReferences>MatchingCaseNumber</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select one or more checkbox(es) below:</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Off_MLS_Listings_Search</name>
        <label>Off MLS Listings Search</label>
        <locationX>214</locationX>
        <locationY>46</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Find_Off_MLS_Listings</targetReference>
        </connector>
        <fields>
            <name>Product</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Off MLS Listings</stringValue>
            </defaultValue>
            <fieldText>Product</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Property_Address</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varUCASEDefaultPropertyAddress</elementReference>
            </defaultValue>
            <fieldText>Property Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Listing_Agent_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varUCASEDefaultListingAgentName</elementReference>
            </defaultValue>
            <fieldText>Listing Agent Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Brokerage_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varUCASEDefaultBrokerageName</elementReference>
            </defaultValue>
            <fieldText>Brokerage Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Message</name>
        <label>User Message</label>
        <locationX>933</locationX>
        <locationY>864</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Parent Case Has Been Successfully Updated!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Click Finish to Close the Application!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetDefaultRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>OffMLSListingsCasesTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Case Number&lt;/b&gt;: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(244, 4, 4);&quot;&gt;{!varCase.CaseNumber}&lt;/span&gt;&lt;span style=&quot;color: rgb(244, 4, 4);&quot;&gt;  &lt;/span&gt;              &lt;/p&gt;&lt;p&gt;&lt;b&gt;Property Address&lt;/b&gt;: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!varCase.PropertyAddress__c}&lt;/span&gt;                        &lt;/p&gt;&lt;p&gt;&lt;b&gt;Agent Name&lt;/b&gt;: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!varCase.ListingAgentName__c}&lt;/span&gt;                               &lt;/p&gt;&lt;p&gt;&lt;b&gt;Brokerage Name&lt;/b&gt;: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!varCase.BrokerageName__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;-------------------------------------------------------------------------&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ChildRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CollectionChilds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>GetChildCasesIdNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ListAllChildCaseValues</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MasterCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MultipleChildRecordId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RetrievChildId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>testLoop2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>VarDefaultBrokerageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>varCase.BrokerageName__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>VarDefaultListingAgentName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>varCase.ListingAgentName__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>VarDefaultyPropertAddresss</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>varCase.PropertyAddress__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varDisplayCases</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNoBrackets</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNoBrcakets_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vChildCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCollectionChildIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>VParsedChildCasesCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
