force-app/main/default/flows/Off_MLS_Listings_Finder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Text</name>
        <label>Assign_Text</label>
        <locationX>854</locationX>
        <locationY>324</locationY>
        <assignmentItems>
            <assignToReference>varDisplayCases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OffMLSListingsCasesTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_case</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <displayField>CaseNumber</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BrokerageName__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Brokerage_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>ListingAgentName__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Listing_Agent_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Off MLS Listings</stringValue>
            </value>
        </filters>
        <filters>
            <field>PropertyAddress__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Property_Address</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012J0000000e9KPIAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Off MLS Listings Finder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Off MLS Listings Finder</label>
    <loops>
        <name>For_Each_case</name>
        <label>For Each case</label>
        <locationX>380</locationX>
        <locationY>319</locationY>
        <assignNextValueToReference>varCase</assignNextValueToReference>
        <collectionReference>Find_Off_MLS_Listings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Text</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Off_MLS_Listings_Finder</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Find_Off_MLS_Listings</name>
        <label>Find Off MLS Listings</label>
        <locationX>380</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BrokerageName__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Brokerage_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>ListingAgentName__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Listing_Agent_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Off MLS Listings</stringValue>
            </value>
        </filters>
        <filters>
            <field>PropertyAddress__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Property_Address</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012J0000000e9KPIAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>PropertyAddress__c</queriedFields>
        <queriedFields>ListingAgentName__c</queriedFields>
        <queriedFields>BrokerageName__c</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>testUpdateParentCaseId</name>
        <label>testUpdateParentCaseId</label>
        <locationX>1090</locationX>
        <locationY>123</locationY>
        <connector>
            <targetReference>Updated_Successfully</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Off_MLS_Listings_Finder</name>
        <label>Off MLS Listings Finder</label>
        <locationX>877</locationX>
        <locationY>122</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>testUpdateParentCaseId</targetReference>
        </connector>
        <fields>
            <name>display</name>
            <fieldText>&lt;p&gt;Matching Case(s) Found for &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; {!recordId}&lt;/span&gt;:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;{!varDisplayCases}&lt;/li&gt;&lt;/ol&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Matching_Case_Number</name>
            <choiceReferences>CaseNumber</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Matching Case Number</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Off_MLS_Listings_Search</name>
        <label>Off MLS Listings Search</label>
        <locationX>212</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Find_Off_MLS_Listings</targetReference>
        </connector>
        <fields>
            <name>Product</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Off MLS Listings</stringValue>
            </defaultValue>
            <fieldText>Product</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Property_Address</name>
            <dataType>String</dataType>
            <fieldText>Property Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Listing_Agent_Name</name>
            <dataType>String</dataType>
            <fieldText>Listing Agent Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Brokerage_Name</name>
            <dataType>String</dataType>
            <fieldText>Brokerage Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Updated_Successfully</name>
        <label>Updated Successfully</label>
        <locationX>1220</locationX>
        <locationY>120</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Update_done_successfully</name>
            <fieldText>&lt;p&gt;Congratulation the Parent Case has been assigned successfully!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Off_MLS_Listings_Search</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>OffMLSListingsCasesTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;Case Id&lt;/b&gt;: &lt;a href=&quot;https://mris--dev.lightning.force.com/%7B!varCase.Id%7D&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!varCase.Id}&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; &lt;/span&gt;        &lt;/p&gt;&lt;p&gt;&lt;b&gt;Case Number&lt;/b&gt;: &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!varCase.CaseNumber}&lt;/span&gt;                &lt;/p&gt;&lt;p&gt;&lt;b&gt;Property Address&lt;/b&gt;: &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!varCase.PropertyAddress__c}&lt;/span&gt;                        &lt;/p&gt;&lt;p&gt;&lt;b&gt;Agent Name&lt;/b&gt;: &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!varCase.ListingAgentName__c}&lt;/span&gt;                               &lt;/p&gt;&lt;p&gt;&lt;b&gt;Brokerage Name&lt;/b&gt;: &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!varCase.BrokerageName__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Record Type&lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;: {!varCase.RecordTypeId}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif);&quot;&gt;-------------------------------------------------------------------------&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varDisplayCases</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
