force-app/main/default/flows/Populate_Team_Member_Data_From_Subscription.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_SubscriptionData_to_Team_Member_Data</name>
        <label>Assign SubscriptionData to Team Member Data</label>
        <locationX>556</locationX>
        <locationY>1223</locationY>
        <assignmentItems>
            <assignToReference>$Record.Agent_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Subscriptions.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Member_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Subscriptions.Contact_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subscription_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Subscriptions.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Office_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Subscriptions.Related_Location_Broker_Office__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Team_Member_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_Subscriptions.Private_Email__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>get_team_data</name>
        <label>get team data</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.Team_Lead_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Teams_Data.Team_Lead__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Team_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Teams_Data.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status_of_team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Teams_Data.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Team_Lead_Sub_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Teams_Data.Team_Lead_Sub_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Team_Lead_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Teams_Data.Subscription_ID__r.Private_Email__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Update_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Updated_Date</name>
        <label>Populate Updated Date</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.Updated_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Teams_Data.Updated_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_Subscriptions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Request_Id</name>
        <label>Check Request Id</label>
        <locationX>556</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Team_Request_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Teams_Data</targetReference>
            </connector>
            <label>Present</label>
        </rules>
        <rules>
            <name>Not_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Team_Request_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Team_Member_SubID</targetReference>
            </connector>
            <label>Not Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Team_Member_SubID</name>
        <label>Check Team Member SubID</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Member_SubID_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Team_Member_Sub_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Subscriptions</targetReference>
            </connector>
            <label>Member SubID Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Update_Date</name>
        <label>Check Update Date</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Fetch_Subscriptions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Updated_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Teams_Data.Invitation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status_of_Invitation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Updated_Date</targetReference>
            </connector>
            <label>isBlank</label>
        </rules>
    </decisions>
    <interviewLabel>Populate Team Member Data From Subcription {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate Team Member Data From Subscription</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_Subscriptions</name>
        <label>Fetch Subscriptions</label>
        <locationX>556</locationX>
        <locationY>1103</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_SubscriptionData_to_Team_Member_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Team_Member_Sub_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Subscriptions__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get team lead name and team name</description>
        <name>Get_Teams_Data</name>
        <label>Get Teams Data</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_team_data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Team_Request_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Team_Request_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Teams__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>430</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Request_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Team_Member_Sub_ID__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Team_Members__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
