force-app/main/default/flows/Teams_Field_Population.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Insert_Blank_values</name>
        <label>Insert Blank values</label>
        <locationX>728</locationX>
        <locationY>103</locationY>
        <assignmentItems>
            <assignToReference>$Record.Office_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Team_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subscription_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Team_Lead_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Team_Lead_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Team_Lead_Sub_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Lookup_Fields</name>
        <label>Populate Lookup Fields</label>
        <locationX>967</locationX>
        <locationY>415</locationY>
        <assignmentItems>
            <assignToReference>$Record.Office_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Team_Lead_Sub_ID.Related_Location_Broker_Office__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Team_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Team_Lead_Sub_ID.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Subscription_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Team_Lead_Sub_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Team_Lead_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Team_Lead_Sub_ID.Private_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Team_Lead_First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Team_Lead_Sub_ID.Contact__r.FirstName</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Populate_values</name>
        <label>Populate values</label>
        <locationX>265</locationX>
        <locationY>697</locationY>
        <assignmentItems>
            <assignToReference>$Record.Member_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subscription_ID__r.Contact_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Approved_Rejected_Status_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TeamStartDate_Formula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Populate_Values_1</name>
        <label>Populate Values</label>
        <locationX>687</locationX>
        <locationY>536</locationY>
        <assignmentItems>
            <assignToReference>$Record.Disbanded_By_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BOR_AS_value</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Values_on_Rejection</name>
        <label>Values on Rejection</label>
        <locationX>499</locationX>
        <locationY>701</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approved_Rejected_Status_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Approved_Rejected</name>
        <label>Check Approved/Rejected</label>
        <locationX>374</locationX>
        <locationY>563</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BOR_AS_Sub_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Invitation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_values</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Rejected_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BOR_AS_Sub_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Invitation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Values_on_Rejection</targetReference>
            </connector>
            <label>Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>509</locationX>
        <locationY>206</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Team_Lead_SubId_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Team_Lead_Sub_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Team_Lead_Sub_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Team_Lead_Sub_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Blank_values</targetReference>
            </connector>
            <label>Team Lead SubId Change</label>
        </rules>
        <rules>
            <name>BOR_AS_Sub_Id_Present</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BOR_AS_Sub_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Invitation_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Invitation_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.BOR_AS_Sub_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BOR_AS_Sub_ID__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_BOR_AS_Names</targetReference>
            </connector>
            <label>BOR AS Sub Id Present</label>
        </rules>
        <rules>
            <name>Disbanded_by_BOR_AS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Disbanded_By__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Broker Disband</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_BOR_AS_records</targetReference>
            </connector>
            <label>Disbanded by BOR/AS</label>
        </rules>
    </decisions>
    <formulas>
        <name>BOR_AS_value</name>
        <dataType>String</dataType>
        <expression>{!Fetch_BOR_AS_records.Contact__r.FirstName}+&apos; &apos;+{!Fetch_BOR_AS_records.Contact__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>Message</name>
        <dataType>String</dataType>
        <expression>text({!$Record.Invitation_Status__c})+&apos; by &apos;+{!Fetch_BOR_AS_Names.Contact__r.FirstName}+&apos; &apos;+{!Fetch_BOR_AS_Names.Contact__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>TeamStartDate_Formula</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Teams Field Population {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Teams Field Population</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_BOR_AS_Names</name>
        <label>Fetch BOR AS Names</label>
        <locationX>431</locationX>
        <locationY>336</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Approved_Rejected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BOR_AS_Sub_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Subscriptions__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_BOR_AS_records</name>
        <label>Fetch BOR/AS records</label>
        <locationX>687</locationX>
        <locationY>336</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_Values_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Disbanded_By__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Subscriptions__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Team_Lead_Sub_ID</name>
        <label>Get Team Lead Sub ID</label>
        <locationX>888</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_Lookup_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Team_Lead_Sub_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Subscriptions__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>100</locationX>
        <locationY>61</locationY>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>Invitation_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </filters>
        <filters>
            <field>Invitation_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Invitation_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <object>Teams__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
