force-app/main/default/flows/Team_Account_Hirarchy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>add_Office_One_Ids</name>
        <label>add Office One Ids</label>
        <locationX>725</locationX>
        <locationY>577</locationY>
        <assignmentItems>
            <assignToReference>OfficeIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopOffice_One.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Parent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_office_two_ids</name>
        <label>add office two ids</label>
        <locationX>360</locationX>
        <locationY>787</locationY>
        <assignmentItems>
            <assignToReference>OfficeIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>office_two_loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Parent_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_office_two_parent</name>
        <label>add office two parent</label>
        <locationX>90</locationX>
        <locationY>683</locationY>
        <assignmentItems>
            <assignToReference>OfficeIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>office_two_loop.ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>office_two_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_office_two_parent_ac_id</name>
        <label>add office two parent ac id</label>
        <locationX>659</locationX>
        <locationY>1171</locationY>
        <assignmentItems>
            <assignToReference>OfficeIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>office_two_parent_loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Parent_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_office_two_parent_parent_id</name>
        <label>add office two parent parent id</label>
        <locationX>235</locationX>
        <locationY>1157</locationY>
        <assignmentItems>
            <assignToReference>OfficeIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>office_two_parent_loop.ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>office_two_parent_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_Parent_in_Office_one</name>
        <label>add Parent in Office one</label>
        <locationX>837</locationX>
        <locationY>961</locationY>
        <assignmentItems>
            <assignToReference>OfficeIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopOffice_One.ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>office_two_parent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Parent</name>
        <label>Has Parent ?</label>
        <locationX>703</locationX>
        <locationY>790</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopOffice_One.ParentId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_Parent_in_Office_one</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopOffice_One.ParentId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>office_two</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Parent_0</name>
        <label>Has Parent ?</label>
        <locationX>198</locationX>
        <locationY>924</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>office_two_loop.ParentId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_office_two_parent</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>office_two_loop.ParentId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>office_two_loop</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Parent_0_0</name>
        <label>Has Parent ?</label>
        <locationX>398</locationX>
        <locationY>1330</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>office_two_parent_loop.ParentId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_office_two_parent_parent_id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>office_two_parent_loop.ParentId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>office_two_parent_loop</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>Team Account Hirarchy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Team Account Hirarchy</label>
    <loops>
        <name>loopOffice_One</name>
        <label>loopOffice-One</label>
        <locationX>502</locationX>
        <locationY>428</locationY>
        <collectionReference>getOffice_One</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_Office_One_Ids</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>office_two_loop</name>
        <label>office two loop</label>
        <locationX>273</locationX>
        <locationY>604</locationY>
        <collectionReference>office_two</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_office_two_ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopOffice_One</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>office_two_parent_loop</name>
        <label>office two parent loop</label>
        <locationX>420</locationX>
        <locationY>1071</locationY>
        <collectionReference>office_two_parent</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_office_two_parent_ac_id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopOffice_One</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getOffice_One</name>
        <label>getOffice-One</label>
        <locationX>381</locationX>
        <locationY>281</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopOffice_One</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Office_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Office_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>office_two</name>
        <label>office two</label>
        <locationX>586</locationX>
        <locationY>651</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>office_two_loop</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopOffice_One.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopOffice_One.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>office_two_parent</name>
        <label>office two parent</label>
        <locationX>670</locationX>
        <locationY>1009</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>office_two_parent_loop</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4) AND 5</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopOffice_One.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopOffice_One.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopOffice_One.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopOffice_One.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getOffice_One</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invitation_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </filters>
        <object>Teams__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>OfficeIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
